:root {

}

* {
    border: 1px solid blue;
}

body {
    background-image: linear-gradient(
        lightgray 0%,
        darkgray 100%);
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

.column.is-2 {
    min-height: 400px;
}

#search-container {
    margin-bottom: 33px;
}

#search-history {
    background-image: radial-gradient(
        lightgray 50%,
        gray 100%);
    color: whitesmoke;
    font-weight: bolder;
}

#alerts {
    background-image: radial-gradient(
        rgb(199, 168, 168) 50%,
        gray 100%);
        color: whitesmoke;
        font-weight: bolder;
}

#live-events {
    background-image: radial-gradient(
        rgb(148, 142, 196) 50%,
        gray 100%);
        color: whitesmoke;
        font-weight: bolder;
}

#current-traffic {
    background-image: radial-gradient(
        rgb(185, 157, 95) 50%,
        gray 100%);
        color: whitesmoke;
        font-weight: bolder;
}

#media-reports {
    background-image: radial-gradient(
        rgb(162, 115, 172) 50%,
        gray 100%);
        color: whitesmoke;
        font-weight: bolder;
}
body {
    background:url(../images/e3254ba120e6e28688b59925ca5a277a.gif) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

#search-button {
    border-radius: 10px;
}
